@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.script-font {
  font-family: "Great Vibes", cursive;
}

.post-image-height {
  height: 250px;
}

.card img {
  max-height: 200px;
}

.blog {
  font-family: great vibes;
  font-size: xx-large;
}

.quote {
  text-align: center;
  background-color: #f8f9fa;
  border-top: solid 3px #f1f2f2;
  border-bottom: solid 3px #f1f2f2;
}

.quote h2 {
  font-family: great vibes;
}

.navbar {
  padding: 30px;
  margin-bottom: 10px;
  height: 75px;
}
.quote {
  padding: 20px;
}

.quote,
.navbar {
  padding-left: 5%;
  padding-right: 5%;
}

.alert {
  display: none;
}

@media only screen and (max-width: 550px) {
  .quote,
  .search-bar {
    display: none;
  }
}
