@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.script-font {
  font-family: "Great Vibes", cursive;
}

.post-image-height {
  height: 250px;
}

.blog {
  font-family: great vibes;
  font-size: xx-large;
}

.quote {
  text-align: center;
  background-color: #f8f9fa;
  border-top: solid 3px #f1f2f2;
  border-bottom: solid 3px #f1f2f2;
}

.quote h2 {
  font-family: great vibes;
}

.top-section {
  grid-template-rows: 0.1fr 0.1fr;
  grid-template-areas: "nav nav nav";
}

nav {
  height: 1rem;
  grid-area: nav;
}

.quote {
  height: 20px;
}

.navbar,
.quote {
  padding: 3.5%;
}

.middle-section {
  padding: 5%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 0.1fr 0.1fr;

  grid-template-areas: "search-bar search-bar" "main table";

  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.search-bar {
  grid-area: search-bar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #f7bf0a;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .app {
    grid-template-columns: 1fr;
  }
  .middle-section {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.1fr;
    grid-template-areas: "main" "table";
  }

  .main {
    grid-area: main;
    margin-top: 7%;
  }

  .table {
    grid-area: table;
  }

  .quote,
  .search-bar {
    display: none;
  }
}
